.chat-message {
    margin-left: 0 !important;

    &-content {
        border-radius: 1em;
        max-width: calc(100% - 6em) !important;
        background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        font-weight: 500;
    }
}